@inject ISnackbar Snackbar
@inject HttpClient Http
@inject IHttpClientFactory HttpClientFactory
@inject IDialogService DialogService

<MudDialog IsVisible="visible" >

    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Add" Class="mr-3" /> Új esemény létrehozása
        </MudText>
    </TitleContent>

    <DialogContent>

        <MudGrid Style="padding:20px">

            <MudItem xs="3" Class="d-flex w-100 justify-content-end align-content-end align-items-end">
                <MudText Typo="Typo.h6" Class="w-100 d-flex align-content-end justify-content-start" Align="Align.Left">Esemény neve:</MudText>
            </MudItem>
            <MudItem xs="9" Style="display:flex; align-items:center">
                <MudTextField T="string" @bind-Value="newEvent.Name" Label="Esemény neve..." Required="false" />
            </MudItem>
            <MudItem xs="3" Class="d-flex w-100 justify-content-end align-content-end align-items-end">
                <MudText Typo="Typo.h6" Class="w-100 d-flex align-content-end justify-content-start" Align="Align.Left">Helyszín:</MudText>
            </MudItem>
            <MudItem xs="9" Style="display:flex; align-items:center">
                <MudTextField T="string" @bind-Value="newEvent.Location" Label="Helyszín..." Required="false" />
            </MudItem>

        </MudGrid>
        <div class="bastya" style="max-height:40vh;overflow-y:scroll ;width:100%">
            <MudGrid Style="padding:20px">

                <MudItem xs="3" Class="d-flex w-100 justify-content-end align-content-end align-items-end">
                    <MudText Typo="Typo.h6" Class="w-100 d-flex align-content-end justify-content-start" Align="Align.Left">Jegyek:</MudText>
                </MudItem>
                <MudItem xs="4" Style="display:flex; align-items:center">
                    <MudTextField T="string" @bind-Value="newFirstTicket.Category" Label="Kategória neve..." Required="false" />
                </MudItem>
                <MudItem xs="2" Style="display:flex; align-items:center">
                    <MudTextField T="int" @bind-Value="newFirstTicket.Price" Label="Ára..." Required="false" />
                </MudItem>
                <MudItem xs="2" Style="display:flex; align-items:center">
                    <MudTextField T="int" @bind-Value="newFirstTicket.InStock" Label="Készleten..." Required="false" />
                </MudItem>
                <MudItem xs="1" Style="display:flex; align-items:center">
                    <MudIcon Icon="@Icons.Material.Filled.Add" @onclick="AddMoreTicketForm" Class="mr-3" />
                </MudItem>

            </MudGrid>


            <Virtualize Items="moreTickets" Context="t">

                <MudGrid Style="padding:20px">

                    <MudItem xs="3" Class="d-flex w-100 justify-content-end align-content-end align-items-end"></MudItem>
                    <MudItem xs="4" Style="display:flex; align-items:center">
                        <MudTextField T="string" @bind-Value="t.Category" Label="Kategória neve..." Required="false" />
                    </MudItem>
                    <MudItem xs="2" Style="display:flex; align-items:center">
                        <MudTextField T="int" @bind-Value="t.Price" Label="Ára..." Required="false" />
                    </MudItem>
                    <MudItem xs="2" Style="display:flex; align-items:center">
                        <MudTextField T="int" @bind-Value="t.InStock" Label="Készleten..." Required="false" />
                    </MudItem>
                    <MudItem xs="1" Style="display:flex; align-items:center">
                        <MudIcon Icon="@Icons.Material.Filled.Delete" Class="mr-3" @onclick="() => moreTickets.Remove(t)" />
                    </MudItem>

                </MudGrid>

            </Virtualize>
        </div>

        <MudGrid Style="padding:20px">

            <MudItem xs="3" Class="d-flex w-100 justify-content-end align-content-end align-items-end">
                <MudText Typo="Typo.h6" Class="w-100 d-flex align-content-end justify-content-start" Align="Align.Left">Dátum:</MudText>
            </MudItem>
            <MudItem xs="9" Style="display:flex; align-items:center">
                <MudDatePicker Label="Dátum..." @bind-Date="@StartDate" DateFormat="yyyy.MM.dd." />
            </MudItem>

            <MudItem xs="3" Class="d-flex w-100 justify-content-end align-content-end align-items-end">
                <MudText Typo="Typo.h6" Class="w-100 d-flex align-content-end justify-content-start" Align="Align.Left">Leírás:</MudText>
            </MudItem>
            <MudItem xs="9" Style="display:flex; align-items:center">
                <MudTextField T="string" @bind-Value="newEvent.Description" HelperText="Itt adhatod meg az eseményed leírását." Required="false" Lines="5" />
            </MudItem>

        </MudGrid>

        <MudGrid>
            @if (ModifyButton == "Módosít")
            {

                <MudItem xs="6" Style="display:flex; align-items:center; justify-content:center">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Modify" Class="px-10">@ModifyButton</MudButton>
                </MudItem>
            }
            else
            {
                <MudItem xs="6" Style="display:flex; align-items:center; justify-content:center">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Create" Class="px-10">@ModifyButton</MudButton>
                </MudItem>
            }

            <MudItem xs="6" Style="display:flex; align-items:center; justify-content:center">
                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="CancelDialog" Class="px-10">Mégse</MudButton>
            </MudItem>
        </MudGrid>

    </DialogContent>
</MudDialog>


@code{ 

    [Parameter]
    public List<EventDto> events { get; set; }

    #region Létrehozás
    [Parameter]
    public EventDto newEvent { get; set; } = new EventDto();
    [Parameter]
    public TicketDto newFirstTicket { get; set; } = new TicketDto();
    [Parameter]
    public LinkedList<TicketDto> moreTickets { get; set; } = new LinkedList<TicketDto>();
    public DateTime? StartDate = DateTime.Today;
    #endregion

    HttpClient http { get; set; }

    [Parameter]
    public string ModifyButton { get; set; }

    [Parameter]
    public bool visible { get; set; } = false;

    [Parameter]
    public EventCallback<EventDto> OnClick { get; set; }
    [Parameter]
    public EventCallback<EventDto> OnModifyClick { get; set; }

    protected override void OnInitialized()
    {
        http = HttpClientFactory.CreateClient("BlazorPL.PublicServerAPI");
        ModifyButton = "Létrehozás";
    }

    protected override void OnParametersSet()
    {
        if (newEvent != null) StartDate = newEvent.StartDate;
    }
    private async Task CancelDialog()
    {
        bool? dialogresult = await DialogService.ShowMessageBox(
          "Figyelmeztetés",
          "Biztosan ki szeretnél lépni?",
          yesText: "Igen", cancelText: "Mégse");
        if (dialogresult != null)
        {
            CloseDialog();
            Clear();
        }

    }

    private void CloseDialog()
    {
        visible = false;
        newEvent = new EventDto();
        newFirstTicket = new TicketDto();
        moreTickets = new LinkedList<TicketDto>();
        ModifyButton = "Létrehozás";
    }

    private async Task Modify()
    {
        newEvent.StartDate = (DateTime)StartDate;
        moreTickets.AddFirst(newFirstTicket);
        if (CheckAll())
        {
            if (ModifyButton == "Módosít")
            {
                newEvent.StartDate = (DateTime)StartDate;
                var res = await http.PutAsJsonAsync<EventDto>($"api/events/{newEvent.Id}", newEvent);
                if (res.IsSuccessStatusCode)
                {
                    var ev = await res.Content.ReadFromJsonAsync<EventDto>();
                    if (ev != null)
                    {
                        ev.CreatorUserId ??= newEvent.CreatorUserId;
                        ev.Name = newEvent.Name ?? ev.Name;
                        ev.StartDate = newEvent.StartDate;
                        ev.Location = newEvent.Location ?? ev.Location;
                        ev.ImageName = newEvent.ImageName ?? ev.ImageName;
                        ev.Description = newEvent.Description ?? ev.Description;
                        foreach(var m in moreTickets)
                        {
                            Console.WriteLine($"{m.Id} {m.Category} {m.InStock} {m.Price} {m.EventId}");
                        }
                        await UpdateTickets(ev);
                        Snackbar.Add("Sikerült az esemény módosítása a hozzátartozó jegyekkel!", MudBlazor.Severity.Success);
                        await OnModifyClick.InvokeAsync(ev);
                    }
                    else Snackbar.Add("Hiba történt! Kérlek próbáld újra!", MudBlazor.Severity.Error);
                }
                else
                {
                    Snackbar.Add("Nem sikerült módosítani az eseményt! Kérlek próbáld újra!", MudBlazor.Severity.Error);
                }
                Clear();
                CloseDialog();
            }
        } else Snackbar.Add("Hiba",Severity.Error);
        Clear();
        CloseDialog();
    }

    private async Task Create()
    {
        moreTickets.AddFirst(newFirstTicket);
        newEvent.StartDate = (DateTime)StartDate;
        if(newEvent!=null)
        if (CheckAll())
        {
            if (ModifyButton == "Létrehozás" || ModifyButton == "Másolat létrehozása")
            {
                var result = await http.PostAsJsonAsync<EventDto>($"api/events", newEvent);
                if (result.IsSuccessStatusCode)
                {
                    newEvent = await result.Content.ReadFromJsonAsync<EventDto>();
                    events.Add(newEvent);
                    foreach(var t in moreTickets)
                    {
                        t.Id = 0;
                    }
                    await CreateTickets(newEvent);

                    CloseDialog();
                    Snackbar.Add("Sikerült az esemény létrehozása a hozzátartozó jegyekkel!", MudBlazor.Severity.Success);
                    await OnClick.InvokeAsync(newEvent);
                    Clear();
                }

                else
                {
                    Snackbar.Add("Nem sikerült létrehozni az eseményt! Kérlek próbáld újra!", MudBlazor.Severity.Error);
                    moreTickets.RemoveFirst();
                }
            }

        }
        else
        {
            moreTickets.RemoveFirst();
            return;
        }

        CloseDialog();
    }

    private void Clear()
    {
        newEvent = new EventDto();
        newFirstTicket = new TicketDto();
        moreTickets = new LinkedList<TicketDto>();

        newEvent.Location = "";
        newEvent.Name = "";
        newEvent.StartDate = DateTime.Now;

        newFirstTicket.Category = "";
        newFirstTicket.InStock = 0;
        newFirstTicket.Price = 0;
    }

    private bool CheckAll()
    {
        bool result = false;
        if (EventCheck(newEvent))
        {
            result = true;
        }
        else
        {

            Snackbar.Add("<b>Figyelj a következőkre:</b>" +
                 "<ul><li>Az esemény neve legyen 3 karakternél nagyobb!</li>" +
                 "<li>A dátum a mai napnál későbbi legyen!</li>" +
                 "<li>A helyszín legyen kitöltve!</li></ul>", MudBlazor.Severity.Error);
            return false;
        }

        foreach (var t in moreTickets)
        {
            if (!TicketCheck(t))
            {
                Snackbar.Add("<b>Figyelj a következőkre:</b>" +
                         "<ul><li>A készlet nagysága minimum 0 legyen!</li>" +
                         "<li>Az ár minimum 0 legyen!</li>" +
                         "<li>A kategória legyen kitöltve!</li></ul>", MudBlazor.Severity.Error);
                return false;
            }
        }
        return result;
    }

    private async Task CreateTickets(EventDto dbEvent)
    {

        foreach (var t in moreTickets)
        {
            t.EventId = newEvent.Id;
            t.EventName = newEvent.Name;
            var result = await http.PostAsJsonAsync<TicketDto>($"api/tickets", t);
            if (!result.IsSuccessStatusCode) Snackbar.Add($"Nem sikerült létrehozni a {t.Category} jegyet! Kérlek próbáld újra ha kell a módosításnál!", MudBlazor.Severity.Error);
        }
    }

    private async Task UpdateTickets(EventDto dbEvent)
    {
        var origintickets = await http.GetFromJsonAsync<List<TicketDto>>($"api/tickets/event?eventId={dbEvent.Id}");
        foreach(var ticket in moreTickets)
        {
            ticket.EventId = dbEvent.Id;
            var exist = origintickets.Where(s => s.Id == ticket.Id).FirstOrDefault();
            if(exist != null)
            {
                var result = await http.PutAsJsonAsync($"api/tickets", ticket);
                if (!result.IsSuccessStatusCode)
                {
                    Snackbar.Add($"Nem sikerült módosítani a {ticket.Category} jegyet! Kérlek próbáld újra!", MudBlazor.Severity.Error);
                }
                else origintickets.Remove(exist);
            }
            else
            {
                var result = await http.PostAsJsonAsync($"api/tickets", ticket);
                if (!result.IsSuccessStatusCode)
                {
                    Snackbar.Add($"Nem sikerült hozzáadni a {ticket.Category} jegyet! Kérlek próbáld újra!", MudBlazor.Severity.Error);
                }
                else origintickets.Remove(exist);
            }

        }
        foreach(var t in origintickets)
        {
            var result = await http.DeleteAsync($"api/tickets/{t.Id}");
            if (!result.IsSuccessStatusCode)
            {
                Snackbar.Add($"Nem sikerült törölni a {t.Category} jegyet! Kérlek próbáld újra!", MudBlazor.Severity.Error);
            }
        }
    }

    private void AddMoreTicketForm()
    {
        TicketDto ticket = new TicketDto();
        ticket.Category = "";
        ticket.InStock = 0;
        ticket.Price = 0;
        moreTickets.AddLast(ticket);
    }

    #region Ellenőrző függvények
    private bool TicketCheck(TicketDto tic)
    {
        if (tic != null)
        {
            if (!String.IsNullOrEmpty(tic.Category) && tic.InStock >= 0 && tic.Price >= 0) return true;
            return false;
        }
        return false;
    }
    private bool EventCheck(EventDto ev)
    {
        if (ev != null)
        {
            if (ev.Name.Length >= 3 && ev.StartDate > DateTime.Now && !String.IsNullOrEmpty(ev.Location)) return true;
            return false;
        }
        return false;
    }
    #endregion
}
